<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/cont.css">
    <title>Movie Detail</title>
</head>
<body>
    <nav>
        <div class="left">
            <div class="logo">
                <h1>ETEVERS</h1>
                <!-- <a href="#"><img src="./img/logo.png" alt=""></a> -->
            </div>
            <div class="mobile-menu">메뉴</div>
            <ul class="menu-list">
                <li>
                    <a href="./main.html">홈</a>
                </li>
                <li>
                    <a href="#">시리즈</a>
                </li>
                <li>
                    <a href="#">영화</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="icon search">
                <div class="search-bar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="제목, 장르"/>
                </div>
            </div>
            <div class="icon bell">
                <a href="#"><i class="fa-solid fa-bell"></i></a>
            </div>
            <div class="icon profile">
                <a href="#">
                    <div class="avatar-box"></div>
                    <i class="fa-solid fa-caret-down"></i>
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="video">
            <img src="img/oh.jpg" alt="영화 이미지">
        </div>
        <div class="description">
                <h1>오마이걸</h1>
                <h3>오마이걸 노래 엘범</h3>
                <p>
                    나도 무슨 노래인지 모름
                </p>
            <div class="buttons">
                <button class="play"><i class="fa-solid fa-play"></i><span>재생</span></button>
                <a href="#" class="detail"><i class="fa-solid fa-circle-info"></i>상세 정보</a>
            </div>
        </div>
    </main>
    <!-- 스크립트 라이브러리 등의 추가 필요시 추가 -->
</body>
</html>
